################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dungeon of the dominon prelude/FileContentIndex
/.vs
